<h1 mat-dialog-title>Share your ID through social media</h1>
<div mat-dialog-content>
  <mat-grid-list
    cols="3"
    rowHeight="{{ rowHeightNumber }}:1"
    class="social-media-icons"
  >
    <mat-grid-tile class="btn-container">
      <a href="https://outlook.com" target="”_blank”">
        <img src="../../../../assets/svgs/outlook.svg" alt="outlookicon" />
      </a>
    </mat-grid-tile>
    <mat-grid-tile class="btn-container">
      <a href="https://gmail.com" target="”_blank”">
        <img src="../../../../assets/svgs/gmail.svg" alt="gmailicon" />
      </a>
    </mat-grid-tile>
    <mat-grid-tile class="btn-container">
      <a href="https://www.whatsapp.com" target="”_blank”">
        <img src="../../../../assets/svgs/whatsapp.svg" alt="whatsapp icon" />
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</div>
